.sidebar{
  margin: 5px -10px;
  /*height:100%;*/
  
}
.sidebar ul {
    list-style-type: none;
    background-image: linear-gradient(to right, #E7F1FF, rgb(255, 255, 255));
    margin: 0;
    padding: 0;
    text-align: left;
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    transition: width 0.5s ease-in-out;
    position: sticky;
}

.sidebar ul li{
  display:block;
}

.sidebar ul text.hidden_text {
    display: block;
    opacity: 1;
    padding-bottom: -10px;
    /*visibility: none;*/
    /*display: table;
    opacity: 0;
    transition: opacity 0.35s linear 0s, display 0.15s linear 0.5s;*/
    text-align: center;
}

/*.sidebar ul:hover{
  width:125px;
  z-index: 1;
}*/

.sidebar ul:hover a{
  visibility: visible;
  opacity: 1;
}

.sidebar ul a{
  display:block;
  padding: 50px 15px;  
  text-decoration:none;
  color: #000;
}

.sidebar ul li:hover:not(.li_not_show) text.hidden_text{
  visibility: visible;
  display:block;
  opacity: 1;
  padding-bottom:-10px;
}

.sidebar ul li:hover:not(.li_not_show) a, .active_link{
    background-color: #FFFFFF;
    border-left: 0.25em solid #191970;
    cursor: pointer;
    text-align: center;
}

/*.sidebar ul li a:focus{ 
  background-color: #FFFFFF; 
  border-left:0.25em solid #191970; 
  cursor:pointer; 
  text-align:center; 
}*/

/*IMAGES*/

.sidebar li img.img-home {
    width: 22.5px;
    height: 22.5px;
}

.sidebar li img.img-node {
    width: 20px;
    height: 20px;
}

.sidebar li img.img-br {
    width: 25px;
    height: 20px;
}

.sidebar li img.img-tkz {
    width: 20px;
    height: 27.5px;
}

.sidebar li img.img-adv {
    width: 20px;
    height: 25px;
}

.sidebar li img.img-wiki {
    width: 25px;
    height: 17.5px;
}