<div class="container sidebar-container d-inline-block">
    <div class="sidebar">
        <ul>
            <li>
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="active_link">
                    <img class="img-home" src="img/home.png" />
                    <text class="hidden_text">Главная</text>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/(dev)" Match="NavLinkMatch.All" ActiveClass="active_link">
                    <img class="img-node" src="img/node.png" />
                    <text class="hidden_text">Узлы</text>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/(dev2)" Match="NavLinkMatch.All" ActiveClass="active_link">
                    <img class="img-br" src="img/br.png" />
                    <text class="hidden_text">Ветви</text>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/(dev3)" Match="NavLinkMatch.All" ActiveClass="active_link">
                    <img class="img-tkz" src="img/tkz.png" />
                    <text class="hidden_text">Расчёт</text>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/(dev4)" Match="NavLinkMatch.All" ActiveClass="active_link">
                    <img class="img-adv" src="img/adv.png" />
                    <text class="hidden_text">Советы</text>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="https://powersystem.info/index.php?title=%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D1%8D%D0%BD%D0%B5%D1%80%D0%B3%D0%B5%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%8D%D0%BD%D1%86%D0%B8%D0%BA%D0%BB%D0%BE%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F"
                   target="_blank" Match="NavLinkMatch.All" ActiveClass="active_link">
                    <img class="img-wiki" src="img/wiki.png" />
                    <text class="hidden_text">Wiki</text>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {



}
