<div data-toggle="modal" data-target="#exp_imp">
    <button type="button"
            class="my_button"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Загрузить" style="margin-left: 0">
        <img src="img/upload.svg">

    </button>
</div>

<!-- The Modal -->
@*<div class="modal fade" id="exp_imp">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

             Modal Header 
            <div class="modal-header">
                <h4 class="modal-title">Экспорт/Импорт</h4>
                <button type="button" class="close" data-dismiss="modal"
                        style="width:35px;height:35px;padding:0">
                    &times;
                </button>
            </div>

             Modal body 
            <div class="modal-body">
                <button type="button" style="width:150px">Экспорт</button>
                <button type="button" style="width:150px">Импорт</button>
            </div>
        </div>
    </div>
</div>*@



@code {

}
