<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            @*<Error/>*@@*---Подключение компонента---*@
            <h1>Ошибка адреса!</h1>
            <a href="/" style="color:blue;text-decoration:underline;">Вернуться на стартовую страницу</a>
        </LayoutView>
    </NotFound>
</Router>