@inject LogBase LogBase

    <div>
        <footer class="footer">
            <p>© 2020 Lime</p>
            <a href="/Disclaimer">Отказ от ответственности</a>
        </footer>
    </div>
@code {

}
