<div style="background: var(--P-middle)">
    <button type="button" class="icon" title="Загрузить"><img src="img/upload.svg" alt="upload"></button>
    <button type="button" class="icon" title="Сохранить"><img src="img/download.svg" alt="download"></button>
    <button type="button" class="icon" title="Рассчитать все"><img src="img/two_thunder2.svg " alt="calc all"></button>
    <button type="button" class="icon" title="Уведомления" id="bell"><img src="img/bell.svg" alt="Bell"></button>
    <button type="button" class="icon float-right" title="lang"><img src="img/russia.svg" alt="russia"></button>
    <button type="button" class="icon float-right" title="Тест IEEE14"><img src="img/IEEE_14.svg " alt="Test IEEE14"></button>
</div>
@code {

}