<div class="btn-group" role="group" aria-label="First group">
    <TKZ.Client.Shared.Header.HeaderLaod />
    <TKZ.Client.Shared.Header.HeaderSave />
    <TKZ.Client.Shared.Header.HeaderCalc />
</div>

@code {

}