@inject LogBase LB
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="header d-flex">
    <NavLink class="navbar-brand active mx-5"
             href="/"
             Match="NavLinkMatch.All"
             ActiveClass="active"
             style="font-family: Amithen;
                    color: var(--S-middle);
                    font-size: 2.5rem;">
        Lime
    </NavLink>
    <button type="button" class="icon" title="Загрузить">
        <svg class="menu-icon">
            <use xlink:href="#upload"></use>
        </svg>
    </button>
    <button type="button" class="icon" title="Сохранить">
        <svg class="menu-icon">
            <use xlink:href="#download"></use>
        </svg>
    </button>
    <button type="button"
            class="icon"
            title="Рассчитать все"
            @onclick="Add">
        <svg class="menu-icon">
            <use xlink:href="#CalcAll"></use>
        </svg>
    </button>
    <button type="button"
            class="icon"
            title="Уведомления"
            id="bell"
            @onclick="LogOpenEvent">
        <img src="@LB.ImageChecker()" width="25px" height="25px" alt="Bell">
    </button>

    <div class="ml-auto">
        <button type="button"
                class="icon"
                title="Тест IEEE14">
            <svg class="menu-icon">
                <use xlink:href="#IEEE_14"></use>
            </svg>
        </button>
        <button type="button"
                class="icon"
                title="lang"
                @onclick="ChangeLanguage">
            <img src="@(IsRus ? SourceRus : SourceUS )" width="25px" height="25px" alt="russia">
        </button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback LogOpenEvent { get; set; }

    void Add()
    {
        LB.AddMessage(new Message(MessageClass.System, MessageType.Danger, "Внимание!", "У нас кончилась водка!", "contacts"));
    }

    protected override void OnInitialized()
    {
        LB.OnChange += StateHasChanged;
    }

    public const string SourceRus = "img/russia.svg";
    public const string SourceUS = "img/US.svg";

    public bool IsRus { get; set; } = true;

    public async Task ChangeLanguage()
    {
        IsRus = !IsRus;
        if (IsRus) await I18nText.SetCurrentLanguageAsync("ru");
        else await I18nText.SetCurrentLanguageAsync("en");
    }
}