@page "/advices"
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText


<h1>@Localizer.Header</h1>

@code {
    I18nText.Pages.Advices.Advices Localizer = new I18nText.Pages.Advices.Advices();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Advices.Advices>(this);        
    }
}