@layout SecondaryLayout
@page "/Contacts"

    <div class="contact">
        <h1>Связаться с нами</h1>
        <form method="post" action="ProcessRequest.cshtml">
            <div>
                <p><label for="CustomerName">Ваше имя:</label></p>
                <input class="form-control" type="text" id="CustomerName" placeholder="Ваше имя" required="">
            </div>

            <div>
                <p><label for="CustomerEmail">Ваш E-mail:</label></p>
                <input class="form-control" type="text" id="CustomerEmail" placeholder="E-mail" required="">
            </div>
            <div>
                <p><label for="CustomerMessage">Сообщение:</label></p>
                <textarea class="form-control big" type="text" id="CustomerMessage" placeholder="Сообщение" required></textarea>
            </div>
            <button type="submit" value="Submit" class="my_button long" style="float: right;">Отправить</button>
        </form>
    </div>

@code {

}
