@layout MainLayout
@page "/Cookie"
@inject HttpClient Http

<div class="container-fluid" style="text-align:justify;">
    <h1>Политика использования cookie-файлов</h1>
    <h2>Получение и использование личной информации</h2>
    <p>Пользователи данного ресурса lime.engineer (далее Ресурс), дают своё согласие на использование Ресурсом их IP адреса, cookie и данных геолокации для маркетинговых и статических исследованиях с момента начала использования Ресурса. Все собранные данные являются обезличенными, то есть не содержат персональных данных: ФИО, паспортные данные или какие-либо другие данные, которые позволяют идентифицировать конкретного человека. В случае несогласия с данным условием Пользователь должен покинуть Ресурс.</p>
    <p>Ресурс не ведет сбор, хранения и обработку персоанльных данных Пользователей: ФИО, паспортные данные или какие-либо другие данные, которые позволяют идентифицировать конкретного человека. Также ни в каком виде на серевере не сохраняется созданная пользователем расчётная модель и результаты расчётов.</p>
    <h2>Cookie-файлы</h2>
    <p>Cookie-файлы это небольшие файлы, которые используются для сбора статистики посещения веб-сайтов. Данный Ресурс использует cookie-файлы для идентификации вашего компьютера.  </p>
    <p>Наш Ресурс использует аналитические cookie-файлы для анализа работы Ресурса на предмет улучшения его функционала, в том числе с целью показа рекламы. Полученная при этом информация может быть передана третьим лицам в анонимной форме на сервер служб веб-аналитики с целью хранения и обработки.</p>
    <p>С целью анализа работы Ресурса используются cookie-файлы следующих поставщиков услуг веб-аналитики: Google Analytics и Яндекс.Метрика (ООО "Яндекс").</p>    
</div>

@code {    //Localizator 
    

    protected override async Task OnInitializedAsync()
    {
        
    }

}