@layout MainLayout
@page "/Disclaimer"

<div class="container-fluid" style="text-align:justify;">
    <h1>Отказ от ответственности</h1>
    <p>Данная лицензия разрешает лицам, безвозмездно и без ограничений использовать данный ресурс, при соблюдении следующих условий:</p>
    <p>РЕЗУЛЬТАТЫ РАСЧЁТОВ ПРЕДОСТАВЛЯЮТСЯ «КАК ЕСТЬ», БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ, ЯВНО ВЫРАЖЕННЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ ГАРАНТИИ ТОВАРНОЙ ПРИГОДНОСТИ, СООТВЕТСТВИЯ ПО ЕГО КОНКРЕТНОМУ НАЗНАЧЕНИЮ И ОТСУТСТВИЯ НАРУШЕНИЙ, НО НЕ ОГРАНИЧИВАЯСЬ ИМИ. НИ В КАКОМ СЛУЧАЕ АВТОРЫ ИЛИ ПРАВООБЛАДАТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ПО КАКИМ-ЛИБО ИСКАМ, ЗА УЩЕРБ ИЛИ ПО ИНЫМ ТРЕБОВАНИЯМ, В ТОМ ЧИСЛЕ, ПРИ ДЕЙСТВИИ КОНТРАКТА, ДЕЛИКТЕ ИЛИ ИНОЙ СИТУАЦИИ, ВОЗНИКШИМ ИЗ-ЗА ИСПОЛЬЗОВАНИЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ИЛИ ИНЫХ ДЕЙСТВИЙ С ПРОГРАММНЫМ ОБЕСПЕЧЕНИЕМ.</p>
    <p>Никто из авторов, участников, спонсоров, администраторов, операторов и лиц, как-либо ещё связанных с настоящим ресурсом, не несёт ответственность за появление неточной или ложной информации, а также за использование вами данных, содержащихся на этих веб-страницах либо найденных по ссылкам с них.</p>
    <p>Любые торговые марки, знаки и названия товаров, служб и организаций, права на дизайн, авторские и смежные права, которые упоминаются, используются или цитируются в статьях, принадлежат их законным владельцам.</p>
    <p>Если вам нужен расчёт на верифицированном программном комплексе, пожалуйста, обратитесь к организациям, имеющим право распространять сертифицированное программное обеспечение.</p>
    <p>Спасибо, что потратили своё время на чтение этой страницы.</p>
</div>

@code {

}