@page "/"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

    <div class="w3-animate-opacity">
        <h1>@Localizer.Index_Header</h1>
<img src="/img/Lighting.png" />
    </div>
 
@code
{

    //Localizator
    I18nText.Pages.Index Localizer = new I18nText.Pages.Index();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Index>(this);
    }
}