@namespace TKZ.Client.Pages.Log
@using Microsoft.AspNetCore.Components
@inject NavigationManager navmanager

<div class="message message_@type" @onclick="@Redirect">
    <small><b>@Header </b></small>
    <small>@Text</small>
</div>

@code {
    [Parameter]
    public MessageClass Class { get; set; }

    [Parameter]
    public MessageType Type
    {
        get { return type_internal; }
        set
        {
            type_internal = value;
            switch (value)
            {
                case MessageType.Success:
                    type = "ok";
                    break;
                case MessageType.Warning:
                    type = "att";
                    break;
                case MessageType.Danger:
                    type = "stop";
                    break;
            }
        }
    }

    string type;

    MessageType type_internal;

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Link { get; set; }

    //Active ctor
    public Message(MessageClass mesClass, MessageType type, string header, string text, string link)
    {
        this.Class = mesClass;
        this.Type = type;
        this.Header = header;
        this.Text = text;
        this.Link = link;
    }

    //Default ctor
    public Message() { }

    //Message by-link redirection method
    private void Redirect()
    {
        if (!String.IsNullOrEmpty(Link))
        {
            navmanager.NavigateTo(Link);
        }
    }

    //Message equality comparator
    public bool Equals(Message mes)
    {
        if (this.Class == mes.Class &&
            this.Type == mes.Type &&
            this.Header == mes.Header &&
            this.Text == mes.Text &&
            this.Link == mes.Link) return true;
        else return false;
    }

    //Base Equal() override
    public override bool Equals(object obj)
    {
        return Equals((Message)obj);
    }

    public override int GetHashCode()
    {
        return Class.GetHashCode() ^ Type.GetHashCode() ^
               Header.GetHashCode() ^ Text.GetHashCode() ^
               Link.GetHashCode();
    }
}