@namespace TKZ.Client.Pages.Log
@using Microsoft.AspNetCore.Components
@inject NavigationManager navmanager

    <div class="message message_@type" @onclick="@Redirect">
        <small><b>@Header </b></small>
        <small>@Text</small>
    </div>

@code {
    [Parameter]
    public MessageType Type
    {
        get { return type_internal; }
        set
        {
            type_internal = value;
            switch (value)
            {
                case MessageType.Success:
                    type = "ok";
                    break;
                case MessageType.Warning:
                    type = "att";
                    break;
                case MessageType.Danger:
                    type = "stop";
                    break;
            }
        }
    }

    string type;

    MessageType type_internal;

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Link { get; set; }

    public Message(MessageType type, string header, string text, string link)
    {
        this.Type = type;
        this.Header = header;
        this.Text = text;
        this.Link = link;
    }

    //Default ctor
    public Message() { }

    //Message by-link redirection method
    private void Redirect()
    {
        if (!String.IsNullOrEmpty(Link))
        {
            navmanager.NavigateTo(Link);
        }
    }

    //Message type
    public enum MessageType
    {
        Success,
        Warning,
        Danger
    }
}