:root {
    --light_color: #E7F1FF;
    --middle_color: #8FBEFF;
    --red_color: #F17979;
    --yellow_color: #EEF20D;
    --green_color: #98F179;
    --small_shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    --very_small_shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    --st_margin: 0.5rem;
    --br_radius: 0.5rem;
    --P-dark: #5c8ecc;
    --P-middle: #8fbeff;
    --P-light: #F5F5F5;
    --S-dark: #40b921;
    --S-middle: #79ec56;
    --S-light: #afff88;
}
select { /*delete ouline from blazorize table filter*/
    box-shadow: none !important;
    outline: none !important
}
/*COMPONENTS*/
.main_container {
    background-color: white;
    box-shadow: var(--small_shadow);
    height: 100vh;
    margin: auto;
    min-width: 100vw;
    padding: 0;
    overflow: auto;
}

.header {
    background: var(--P-dark);
    max-height: 10%;
}

.my_sidebar {
    background: var(--P-middle);
    max-width: 20vw;
    min-width: 10vw;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    padding-top: var(--st_margin);
    padding-bottom: var(--st_margin);
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.main-area {
    flex: 1;
    overflow: auto;
    padding: var(--st_margin);
}

.footer {
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
    font-size: 0.7rem;
    margin: auto;
    min-width: 80%;
}
.footer p {
    margin-bottom: 0;
}
.result_table_area {
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    overflow: auto;
    flex: 1;
}

.chips_area {
    overflow: auto;
    padding: 4px;
}

.parameter {
    background-color: white;
    /*box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    /*border: 1px solid var(--P-light);*/
    border-right: 1px solid var(--P-middle);
    padding: var(--st_margin);
    margin-right: var(--st_margin);
    width: 250px;
    max-width: 15vw;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.frame {
    background-color: white;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 0.5rem;
}
/*HEADING*/
h1 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

h4 {
    color: var(--P-dark);
    font-size: 1.5em;
    text-align: left;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

/*BUTTONS*/
.my_button {
    padding-right: var(--st_margin);
    padding: 0.4rem;
    min-width: 60px;
    margin: var(--st_margin) calc(var(--st_margin) / 2);
    outline: none;
    border-radius: var(--br_radius);
    border: 2px solid var(--P-dark);
    font-weight: bold;
    outline: none;
}

.my_button.primary {
    background-color: var(--P-dark);
    color: white;
}

.my_button.primary:hover, .my_button.primary:focus {
    background-color: var(--S-middle);
    color:black;
    border: 2px solid var(--S-middle);
}

.my_button.secondary {
    background-color: white;
    border: 2px solid var(--P-dark);
    color: var(--P-dark);
}

.my_button.secondary:hover, .my_button.secondary:focus {
    background: var(--S-light);
    border: 2px solid var(--S-middle);
    color: black;
}

.round {
    background-color: var(--S-middle);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 2px solid var(--S-middle);
    margin: var(--st_margin);
    padding: 0px;
    outline: none;
}

.round:hover {
    background-color: var(--P-middle);
    border: 2px solid var(--P-middle);
    outline: none;
}

.round:focus {
    outline: none;
}

.icon {
    background-color: transparent;
    fill: none;
    color: white;
    border-radius: 50%;
    border: none;
    margin: var(--st_margin);
    padding: 0.4rem;
    outline: none;
    height: 3rem;
    width: 3rem;
    border: 2px solid transparent;
}

.icon:hover {
    background: white;
    color: black;
    border: 2px solid var(--S-middle);
    outline: none;
}

.icon:focus {
    outline: none;
}
.transparent {
    background-color: transparent;
    border: 0px;
    outline: none !important;
    margin-right: 0.25rem;
    padding: 0.2rem;

}
.transparent:hover, .transparent:focus, .transparent:active {
    outline: none !important;
}
.icon-delete {
    float: right;
    display: inline-block;
}
.btn { /*delete ouline from blazorize table button*/
    box-shadow: none !important;
    outline: none !important
}

/*NAVIGATION*/
.nav-pills .nav-link {
    position: relative;
    color: black;
    text-align: left;
    font-size: 0.8em;
    border: 2px solid transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: rgb(0,0,0);
    background-color: white;
    border: 2px solid var(--S-middle);
}

.nav-link.active {
    border-radius: var(--br_radius);
}
.navbar .nav-link.active,
.navbar .show > .nav-link {
    border-bottom: 2px solid #191970;
    border-radius: 0.25rem;
    height: 40px;
    min-height:inherit;
}


/*LOG*/

.log {
    width: auto;
    max-width: 25vw;
    background-color: var(--P-middle);
    color: black;
    overflow: auto;
    height: 100%;
    min-height: 100%;
}

.pre_log {
    width: 10px;
    background-color: var(--P-middle);
    color: black;
    height: 100%;
    min-height: 100%;
}

.log-content {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

/*log messages styles*/
.message {
    border-radius: var(--br_radius);
    padding: 10px;
    margin-bottom: 5px;
}

.message:hover {
    cursor: pointer;
}

.message_stop {
    background-color: var(--red_color);
}

.message_att {
    background-color: var(--yellow_color);
}

.message_ok {
    background-color: var(--green_color);
}




/*Scrollbar width */
.main-area::-webkit-scrollbar, .log::-webkit-scrollbar, textarea::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/*Scrollbar Track */
.main-area::-webkit-scrollbar-track, .log::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2.5px grey;
    background-color: var(--light_color);
    border-radius: 8px;
}

/*Scrollbar Handle */
.main-area::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: var(--middle_color);
    border-radius: 8px;
}

.log::-webkit-scrollbar-thumb {
    background: var(--S-middle);
    border-radius: 8px;
}

/*контакты*/
.contact p {
    margin-top:1.5rem;
    margin-bottom: 0;
    line-height: 1.25rem;
}
.contact p:after {
    content: "*";
    color: red;
}

/*INPUT, CHECKBOXES, RADIO*/
.form-control {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus, .form-control:active,   {
    border-color: var(--P-dark);
    outline: none !important;
    box-shadow: none !important;
}

.checkbox__label {
    background-color: var(--P-light);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    margin-right: var(--st_margin);
    padding: 0px;
}

.checkbox__input {
    display: none;
    opacity: 1;
}

input[type="checkbox"][class="checkbox__input"]:checked + label {
    background-color: var(--S-middle);
    /*box-shadow: 0px 0px 4px var(--S-middle);*/
}
.checkbox__label:last-child{
    margin-right: 0px;
}

.radio__label {
    background-color: var(--P-light);
    border-radius: var(--st_margin);
    line-height: 1.25rem;
    text-align: center;
    cursor: pointer;
    display: block;
    flex: 1;
    padding: 0.3rem;
    margin-bottom: 4px;
}

.radio__input {
    display: none;
    opacity: 1;
}

input[type="radio"][class="radio__input"]:checked + label {
    background-color: var(--S-middle);
    /*box-shadow: 0px 0px 4px var(--S-middle);*/

}

.radio__label:last-child {
    margin-bottom: 0px;
}

.choose-grid {
    color: white;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
}
.choose-grid:focus {
  background-color: transparent;
  border-color: var(--P-dark);
  outline: 0;
}
.choose-grid:focus {
    color: black;
}
.choose-grid:focus:first-child {
    color:white;
}
.choose-grid option {
    color: black;
    font-size: 1.25rem;
}



/*MODAL*/
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid var(--P-light);
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--P-light);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
/*SVG*/
.edit-icon {
    height: 1.5rem;
    width: 1.5rem;
    stroke: currentColor;
    stroke-width: 4px;
}
.edit-icon:hover {
    stroke: var(--P-dark);
}
.edit-icon:disabled {
    stroke: #C8C8C8;
}
.header-icon {
    height: 1.75rem;
    width: 1.75rem;
    stroke: currentColor;
    fill: none;
    stroke-width: 4px;
    display: inline-block;
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
    stroke: currentColor;
    fill: none;
    stroke-width: 2px;
    display: inline-block;
}


.button-icon {
    height: 1.5rem;
    width: 1.5rem;
    stroke: currentColor;
    fill: none;
    stroke-width: 1px;
}
/*Blazorize table customization*/
.my_table {
    border-collapse: collapse !important;
}
.my_table td {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 0px;
    padding: 0.5rem;
}
.my_table tbody tr:nth-of-type(odd) {
    background-color: rgb(240, 240, 240);
   }

.my_table thead > tr:last-child > th {
    border-bottom: 1px solid rgb(240, 240, 240);
}
.my_table thead > tr:first-child > th {
    vertical-align: bottom;
    background-color: white;
    border-bottom: 2px solid var(--P-dark);
    border-top: 0px;
    height: 4rem;
}

.my_table tbody tr:hover {
    background-color: var(--S-light);
}
.equipment {
    width: 15%;
    border:1px solid var(--P-dark);
    float: right;
}
.equipment tbody tr {
    background-color: white !important;
}
.equipment td {
    border-bottom: 1px solid var(--P-dark);
}
.equipment tbody tr:hover {
    background-color: var(--S-light);
}

/*customize css from blazorize*/
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: transparent;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 1px solid var(--P-dark);
    box-shadow: none !important;
    outline: none !important
}

.custom-control-label::before {
    position: absolute;
    top: 0rem;
    left: -1.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: transparent;
    border: 1px solid var(--P-dark);
    box-shadow: none !important;
    outline: none !important
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: transparent;
    border-radius: 0.25rem;
    border: 0px;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    top: 0;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='%2379ec56' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z' clip-rule='evenodd'/%3e%3c/svg%3e");
}


.bg-primary { /*bootstrap class for selected row in table*/
    border: 2px solid var(--P-dark) !important;
}
@font-face {
    font-family: "Amithen";
    src: url("../fonts/Amithen.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}