:root {
    --light_color: #E7F1FF;
    --middle_color: #8FBEFF;
    --red_color: #F17979;
    --yellow_color: #EEF20D;
    --green_color: #98F179;
    --small_shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    --very_small_shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    --st_margin: 16px;
    --br_radius: 8px;
    --P-dark: #5591f5;
    --P-middle: #8fbeff;
    --P-light: #e2efff;
    --S-dark: #40b921;
    --S-middle: #79ec56;
    --S-light: #afff88;
}

.main_container {
    background-color: white;
    box-shadow: var(--small_shadow);
    height: 100vh;
    min-height: 100%;
    margin: auto;
    min-width: 100vw;
    padding: 0;
}

.header {
    background: var(--P-dark);
    max-height: 10%;
}

.my_sidebar {
    background: var(--P-middle);
    max-width: 20vw;
    min-width: 10vw;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    padding-top: var(--st_margin);
    padding-bottom: var(--st_margin);
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.nav-pills .nav-link {
    position: relative;
    color: black;
    text-align: left;
    color: white;
    font-size: 0.8em;
}

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: rgb(0,0,0);
        background-color: white;
        border: 2px solid var(--S-middle);
    }

.nav-link.active {
    border-radius: var(--br_radius);
}

.main-area {
    flex: 1;
    overflow: auto;
    padding: var(--st_margin);
}

.footer {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
    margin: auto;
    min-width: 80%;
}

    .footer p {
        margin-bottom: 0;
    }

.my_button {
    padding-right: : var(--st_margin);
	padding: 0.4rem;
	min-width: 80px;
    margin: var(--st_margin);
    outline: none;
    border-radius: var(--br_radius);
    border: 2px solid var(--P-middle);
}

    .my_button:hover {
        background-color: var(--S-middle);
    	border: 2px solid var(--S-middle);        
        outline: none;
    }
    .my_button:active {
        background-color: var(--S-middle);
    	border: 2px solid var(--S-middle);        
        outline: none;
    }
    .my_button:focus {
        background-color: var(--S-middle);
    	border: 2px solid var(--S-middle);        
        outline: none;
    }

    .my_button.primary {
        background-color: var(--P-middle);
    }

        .my_button.primary:hover, .my_button.primary:focus {
            background-color: var(--S-middle);
        }

    .my_button.secondary {
        background-color: white;
        border: 2px solid var(--P-middle);
    }

        .my_button.secondary:hover, .my_button.secondary:focus {
            background: var(--S-light);
            border: 2px solid var(--S-middle);
        }
.round {
    background-color: var(--P-middle);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 2px solid var(--P-middle);
    margin: var(--st_margin);
    padding: 0.5rem;
    outline: none;
}

    .round:hover {
        background-color: var(--S-middle);
        border: 2px solid var(--S-middle);
        outline: none;
    }

    .round:focus {
        outline: none;
    }

.icon {
    background-color: transparent;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: none;
    margin: var(--st_margin);
    padding: 0.5rem;
    outline: none;
}

    .icon:hover {
        background: white;
        border: 2px solid var(--S-middle);
        outline: none;
    }

    .icon:focus {
        outline: none;
    }

.menu-icon {
    height: 2.5rem;
    margin-right: 4px;
}

.button_bar {
    margin-bottom: var(--st_margin);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.tab-control {
    padding: 0;
}

.content-tab {
    height: 72.5vh;
    overflow: auto;
    padding: 0;
}

.log {
    width: auto;
    max-width: 25vw;
    background-color: var(--P-middle);
    color: black;
    overflow: auto;
    height:100%;
    min-height:100%;
}

.pre_log {
    width: 10px;
    background-color: var(--P-middle);
    color: black;
    height: 100%;
    min-height: 100%;
}

.log-content {
    display: block;
    background: var(--P-middle);
    margin-left: 5px;
    margin-right: 5px;
}

/*log messages styles*/
.message {
    border-radius: var(--br_radius);
    padding: 10px;
    margin-bottom: 5px;
}

    .message:hover{
        cursor:pointer;
    }

    .message_stop {
        background-color: var(--red_color);
    }

    .message_att {
        background-color: var(--yellow_color);
    }

    .message_ok {
        background-color: var(--green_color);
    }

/*Scrollbar width */
.main-area::-webkit-scrollbar, .log::-webkit-scrollbar, textarea::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/*Scrollbar Track */
.main-area::-webkit-scrollbar-track, .log::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2.5px grey;
    background-color: var(--light_color);
    border-radius: 8px;
}

/*Scrollbar Handle */
.main-area::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: var(--middle_color);
    border-radius: 8px;
}

.log::-webkit-scrollbar-thumb {
    background: var(--S-middle);
    border-radius: 8px;
}

.navbar .nav-link.active,
.navbar .show > .nav-link {
    border-bottom: 2px solid #191970;
    border-radius: 0.25rem;
    height: 40px;
    min-height: auto;
}

/*контакты*/
.contact {
    width: 60%;
    margin: auto;
    padding: var(--st_margin);
}

    .contact p {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        line-height: 1;
    }

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

/*input*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--P-light);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: var(--st_margin);
}

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: var(--P-dark);
        outline: 0;
        box-shadow: none;
    }

    .form-control.big {
        min-height: 50px;
        height: 100px;
        max-height: 350px;
    }

/*.form-control:placeholder {
    vertical-align: top;
}*/

.contact p:after {
    content: " *";
    color: red;
}

.result_table_area {
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    overflow: auto;
    flex: 1;
}

.chips_area {
    width: 182px;
    overflow: auto;
    margin-right: var(--st_margin);
    padding: 2px;
}

.chips_container {
    height: 40px;
}

.chips {
    background-color: var(--light_color);
    border-radius: var(--br_radius);
    margin-bottom: 0;
    box-shadow: var(--very_small_shadow);
    display: block;
    padding-left: 8px;
    min-height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.chips_button {
    margin: 0;
    padding: 0;
    float: right;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-color: transparent;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.chips_input {
    position: relative;
    z-index: 10;
    left: 16px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 24px;
    margin: 0;
    opacity: 0;
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--middle_color);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.5), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: bold;
    border: 1px solid var(--middle_color);
}

.icon-delete {
    background: transparent;
    border: 0px;
    opacity: 0px;
}

.parameter {
    background-color: white;
    box-shadow: var(--small_shadow);
    border: 2px solid var(--P-light);
    padding: var(--st_margin);
    margin-right: var(--st_margin);
    width: 250px;
    max-width: 20vw;
}
h5{
    font-size: 1rem;
    font-weight: bold;
}
.mdl-radio {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 24px;
  margin: 0;
  padding-left: 0; }
  .mdl-radio.is-upgraded {
    padding-left: 24px; }

.mdl-radio__button {
  line-height: 24px; }
  .mdl-radio.is-upgraded .mdl-radio__button {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none; }

.mdl-radio__outer-circle {
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--P-light);
  background-color: var(--P-light);
  border-radius: 50%;
  z-index: 2; }
  .mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid var(--S-middle);
    background-color: var(--S-middle); }
  .mdl-radio__outer-circle fieldset[disabled] .mdl-radio,
  .mdl-radio.is-disabled .mdl-radio__outer-circle {
    border: 2px solid rgba(0,0,0, 0.26);
    cursor: auto; }

  fieldset[disabled] .mdl-radio,
  .mdl-radio.is-disabled  {
    background: rgba(0,0,0, 0.26);
    cursor: auto; }
  .mdl-radio.is-focused  {
    box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.1); }

.mdl-radio__label {
  cursor: pointer; }
  fieldset[disabled] .mdl-radio .mdl-radio__label,
  .mdl-radio.is-disabled .mdl-radio__label {
    color: rgba(0,0,0, 0.26);
    cursor: auto; }

.mdl-radio__ripple-container {
  position: absolute;
  z-index: 2;
  top: -9px;
  left: -13px;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black); }
  .mdl-radio__ripple-container .mdl-ripple {
    background: var(--S-light); }
  fieldset[disabled] .mdl-radio .mdl-radio__ripple-container,
  .mdl-radio.is-disabled .mdl-radio__ripple-container {
    cursor: auto; }
  fieldset[disabled] .mdl-radio .mdl-radio__ripple-container .mdl-ripple,
  .mdl-radio.is-disabled .mdl-radio__ripple-container .mdl-ripple {
    background: transparent; }

@font-face {
    font-family: "Amithen";
    src: url("../fonts/Amithen.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}