<div data-toggle="modal" data-target="#exp_imp">
    <button type="button"
            class="my_button"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Сохранить">
        <img src="img/download.svg">
    </button>
</div>

@code {

}
