<div data-toggle="modal" data-target="#exp_imp">
    <button type="button"
            class="my_button"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Рассчитать все">
        <img src="img/two_thunder2.svg">
    </button>
</div>



@code {

}
