@page "/calc"
@using System.Globalization

<h3>Calculation</h3>

<EditForm Model="request">
    <div class="form-inline my-0">
        <p class="my-0">Номера узлов: </p>

        <div class="justify-content-center w-auto mx-2">
            <TKZ.Client.Pages.Calc.InputCalc @bind-Value="request.Request" OnClearEvent="@(()=>request.Request=String.Empty)" />
        </div>

        <button type="submit"
                value="Submit"
                class="my_button form-control long mx-2 my-0"
                style="border:none;">
            Рассчитать
        </button>
    </div>

    <div class="form-inline">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Сгенерированные узлы: @request.Request
        </small>
    </div>
</EditForm>

@code {
    CalculationRequest request = new CalculationRequest();
}