@page "/calc"

<h3>Calculation</h3>

<form>
    <div class="form-inline my-0">
        <div class="form-group col-auto">
            <p class="col-auto my-0">Номера узлов: </p>
        </div>
        <div class="form-group col-3 my-0">
            <EditForm Model="request">
                <TKZ.Client.Pages.Calc.InputCalc @bind-Value="request.Request" />
            </EditForm>
        </div>
        <button type="submit"
                value="Submit"
                class="my_button form-control long mx-0 my-0"
                style="border:none;">
            Рассчитать
        </button>
    </div>
    <div class="form-inline">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Сгенерированные узлы: @request.Request
        </small>
    </div>
</form>

@code {
    CalculationRequest request = new CalculationRequest();

}