@page "/calc"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="d-flex flex-row" style="flex:1">
    <div class="d-flex flex-column parameter" style="flex: 1">
        <!--parameter-->
        <form class="d-flex flex-column"
              action=""
              id="parameter"
              style="flex: 1">
            <h5>Дуга</h5>
            <div class="row">

                <label for="Rarc" style="width: calc(50% - 8px); margin-right: var(--st_margin)">R:</label>
                <label for="Xarc">X:</label>
                <input class="form-control" type="text"
                       id="Rarc"
                       name="Rarc"
                       placeholder="0"
                       style="width: calc(50% - 8px); margin-right: var(--st_margin)">
                <input class="form-control"
                       type="text"
                       id="Xarc"
                       name="Xarc"
                       placeholder="0"
                       style="width: calc(50% - 8px)">
            </div>
            <h5>Вид короткого замыкания:</h5>
            <div class="d-flex flex-row justify-content-between">
                <input class="checkbox__input" type="checkbox" id="TypeSC-1" name="TypeSC" value="1">
                <label class="checkbox__label" for="TypeSC-1">1</label>

                <input class="checkbox__input" type="checkbox" id="TypeSC-2" name="TypeSC" value="2">
                <label class="checkbox__label" for="TypeSC-2">1,1</label>

                <input class="checkbox__input" type="checkbox" id="TypeSC-3" name="TypeSC" value="3">
                <label class="checkbox__label" for="TypeSC-3">2</label>

                <input class="checkbox__input" type="checkbox" id="TypeSC-4" name="TypeSC" value="4" checked>
                <label class="checkbox__label" for="TypeSC-4">3</label>
            </div>
            <h5>Узлы для расчета:</h5>
            <div class="d-flex flex-row">
                <input class="form-control"
                       type="text"
                       name="Node"
                       id="NodeNum"
                       placeholder="Наименование узла"
                       style="margin-bottom: var(--st_margin); margin-top: var(--st_margin); flex: 1">
                <button class="round"
                        id="add"
                        style="margin-right: 0;">
                    <svg @onclick="@(() => {})" class="menu-icon">
                        <use href="/img/Icon.svg#Add"></use>
                    </svg>
                </button>
            </div>

            <div class="chips_area"
                 style="border: 2px solid var(--P-light); flex: 1; width: 100%; margin-bottom: var(--st_margin)">
                <input class="radio__input" type="radio" id="node-1" name="Nodes" value="node-1" checked>
                <label class="radio__label d-flex flex-row" for="node-1">
                    <span class="align-middle" style="flex: 1">1</span>
                    <button class="transparent icon-delete align-middle">
                        <svg @onclick="@(() => {})" class="edit-icon">
                            <use href="/img/Icon.svg#Delete"></use>
                        </svg>
                    </button>
                </label>

                <input class="radio__input" type="radio" id="node-2" name="Nodes" value="node-2">
                <label class="radio__label d-flex flex-row" for="node-2">
                    <span class="align-middle" style="flex: 1">Самый главный узел c очень длинным названием</span>
                    <button class="transparent icon-delete align-middle">
                        <svg @onclick="@(() => {})" class="edit-icon">
                            <use href="/img/Icon.svg#Delete"></use>
                        </svg>
                    </button>
                </label>
            </div>
            <button class="my_button primary"
                    type="submit"
                    form="parameter"
                    style="margin: 0px;">
                Расчёт
            </button>
        </form>
    </div>
    <div class="d-flex flex-column" style="flex: 1; padding:0 ">
        <div >
            <label for="ContNode">Выберите контролируемый узел:</label>
            <input class="form-control" type="text" name="ContNode" id="ContNode" placeholder="Наименование узла" style="width: 200px; display: inline-block;">
            <button class="round" id="addContNode" style="display: inline-block;">
                <svg class="menu-icon">
                    <use href="/img/Icon.svg#Add"></use>
                </svg>
            </button>
        </div>
        <div>
            <h1>Результаты расчёта</h1>
        </div>
    </div>

</div>

@code {

    CalculationRequest request = new CalculationRequest();
}