@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div>
    <footer class="footer">
        © 2020 Lime.<a href="/Disclaimer">@Localizer.Terms</a>
    </footer>
</div>

@code {



    //Localizator
    I18nText.Shared.Footer.Footer Localizer = new I18nText.Shared.Footer.Footer();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Shared.Footer.Footer > (this);
    }
}