@inherits LayoutComponentBase
@using TKZ.Client.Pages.Log
@inject LogBase LB
<div class="container main_container d-flex flex-row">
    <Navs />


    <div class="d-flex  flex-column " style="flex: 1;">
        <TKZ.Client.Shared.Header.Header />
        <div class="d-flex flex-column"
             style="flex: 1;
             overflow: auto;">

            <div class="d-flex flex-row" style="flex: 1">
                <!--main area-->
                <div class="main-area">
                    @Body
                </div>
                <!--log-->
                 <TKZ.Client.Pages.Log.Log LogChangeEvent="LogChange" />
            </div>
        </div>
        <TKZ.Client.Shared.Footer.Footer />
    </div>





</div>
@code{
    void LogChange()
    {
        StateHasChanged();
    }
    async Task Add()
    {
        await LB.AddMessage(new Message(Message.MessageType.Success, "Внимание!", "У нас кончилась водка!"));
        StateHasChanged();
    }
}