@inherits LayoutComponentBase
@using TKZ.Client.Pages.Log
@inject LogBase LB
@inject GridService service

<div class="main_container d-flex flex-column overflow-auto">

    <TKZ.Client.Shared.Header.Header LogOpenEvent="LogCollapser" ChangeEvent="()=> { StateHasChanged(); }"/>

    <div class="d-flex flex-row flex-fill overflow-auto">
        <Navs />
        <div class="d-flex flex-column flex-fill overflow-auto">
            <!--main area-->
            <div class="d-flex flex-row flex-fill overflow-auto">
                <div class="main-area d-flex flex-fill overflow-auto">
                    @Body
                </div>
                <div class="d-flex flex-column">
                    <TKZ.Client.Pages.Log.Log LogChangeEvent="() => { StateHasChanged(); }" />
                </div>
            </div>
            <TKZ.Client.Shared.Footer.Footer />
        </div>
    </div>
</div>

@code{
    void LogCollapser()
    {
        LB.Collapse = !LB.Collapse;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        service.OnChange += StateHasChanged;
    }
}