@inherits LayoutComponentBase
@using TKZ.Client.Pages.Log
@inject LogBase LB
<!-- header -->

<TKZ.Client.Shared.Header.MainHeader />

<div class="container main_container">
    <div class="row">
        <div class="my_sidebar">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <Navs />
            </div>
        </div>

        <div class="overflow-auto" style="margin-left: var(--st_margin);  flex: 1">
            <div class="button_bar">
                <TKZ.Client.Shared.Header.Header />
            </div>

            <div class="container-fluid tab-control">
                <div class="content-tab container-fluid">
                    @Body
                </div>
            </div>
        </div>

        <div class="log_bar">
            <TKZ.Client.Pages.Log.Log LogChangeEvent="LogChange" />
        </div>
    </div>
</div>

<!--Footer-->

<TKZ.Client.Shared.Footer.Footer />

@code{
    void LogChange()
    {
        StateHasChanged();
    }
    async Task Add()
    {
        await LB.AddMessage(new Message(Message.MessageType.Success, "Внимание!", "У нас кончилась водка!"));
        StateHasChanged();
    }
}