@inherits LayoutComponentBase
@using TKZ.Client.Pages.Log
@inject LogBase LB

<div class="container main_container d-block mh-100" style="flex: 1;">

    <TKZ.Client.Shared.Header.Header LogOpenEvent="LogCollapser"/>


    <div class="d-flex" style="flex: 1;height:90vh;">
        <Navs />
        <div class="d-flex flex-column h-100 mh-100" style="flex: 1;">
            <!--main area-->
            <div class="main-area">
                @Body
            </div>
            <!--log-->
            <TKZ.Client.Shared.Footer.Footer />
        </div>
        <div class="d-flex flex-column h-100 mh-100">
            <TKZ.Client.Pages.Log.Log LogChangeEvent="() => { StateHasChanged(); }" />
        </div>
    </div>
</div>
@code{
    void LogCollapser()
    {
        LB.Collapse = !LB.Collapse;
        StateHasChanged();
    }

    async Task Add()
    {
        await LB.AddMessage(new Message(Message.MessageType.Success, "Внимание!", "У нас кончилась водка!", "contacts"));
        StateHasChanged();
    }
}