<NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="active">
    <img style="height: 30px;" src="img/home.svg">
    <p style="font-size:0.8em;">Главная</p>
</NavLink>
<NavLink class="nav-link" href="/nodes" Match="NavLinkMatch.All" ActiveClass="active">
    <img style="height: 40px; " src="img/node.svg">
    <p style="font-size:0.8em;">Узлы</p>
</NavLink>
<NavLink class="nav-link" href="/branches" Match="NavLinkMatch.All" ActiveClass="active">
    <img style="height: 40px; " src="img/branch.svg">
    <p style="font-size:0.8em;">Ветви</p>
</NavLink>
<NavLink class="nav-link" href="/calc" Match="NavLinkMatch.All" ActiveClass="active">
    <img style="height: 40px;" src="img/thunder.svg">
    <p style="font-size:0.8em;">Расчёт</p>
</NavLink>
<NavLink class="nav-link" href="/adv" Match="NavLinkMatch.All" ActiveClass="active">
    <img style="height: 40px;" src="img/reading.svg">
    <p style="font-size:0.8em;">Советы</p>
</NavLink>

@code {

}