@inherits LayoutComponentBase
@using TKZ.Client.Pages.Log
@inject LogBase LB
<!-- header -->
<TKZ.Client.Shared.Header.MainHeader />

<div class="container main_container">
    @Body
</div>
<!--Footer-->

<TKZ.Client.Shared.Footer.Footer />

@code{
    void LogChange()
    {
        StateHasChanged();
    }
    async Task Add()
    {
        await LB.AddMessage(new Message(Message.MessageType.Success, "Внимание!", "У нас кончилась водка!"));
        StateHasChanged();
    }
}