@using Microsoft.AspNetCore.Components.Web
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<Tooltip Text="@(@Localizer.Edit)" Placement="Placement.Top">
    <Button Class="transparent"
            Clicked="@OnClickCallback">
        <svg class="edit-icon" @onclick="@(() => {})">
            <use href="/img/Icon.svg#Edit"></use>
        </svg>
    </Button>
</Tooltip>
 
@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    //Localizator
    I18nText.Pages.Components Localizer = new I18nText.Pages.Components();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Components>(this);
    }
}